{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <header class="header-2">
        <div class="container">
            <div class="header-2-padding">
                <div class="vertical-flex-gap-4em is-center">
                    <div class="numbering-block is-align-center">
                        <p class="sign-text is-number is-white"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            1</p>
                        <div class="numbering-line is-white"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <p class="sign-text is-white"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            About</p>
                    </div>
                    <h1 class="heading is-about-2-title-1">Your Premier Destination for <span
                            class="opacity-70">Comprehensive Eye Care</span></h1>
                </div>
                <div class="w-layout-grid header-2-grid">
                    <div id="w-node-_084f61f6-bf21-518b-40b8-c80cf16950f5-c683b063" class="header-2-column">
                        <div data-w-id="084f61f6-bf21-518b-40b8-c80cf16950f6" class="header-2-image-size-1"
                            style="will-change: transform; transform: translate3d(0px, 3.8888rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="image-animation-trigger">
                                <div class="parallax-animation-medium">
                                    <div class="animation-color-bg is-dark-blue-color"
                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div> <img srcset="{% static 'images/ad/ad.webp' %} 500w,
                                    {% static 'images/ad/ad-p-500.webp' %} 800w,
                                    {% static 'images/ad/ad-p-800.webp' %} 1080w,
                                    {% static 'images/ad/ad-p-1080.webp' %} 1919w"
                                        sizes="(max-width: 767px) 92vw, (max-width: 991px) 97vw, (max-width: 1439px) 96vw, (max-width: 1919px) 25vw, 27vw"
                                        alt="Ad" class="cover-image is-parallax"
                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                                        loading="lazy">
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_084f61f6-bf21-518b-40b8-c80cf16950fb-c683b063" class="header-2-content-1">
                            <div class="while-scrolling-effect-3rem"
                                style="will-change: transform; transform: translate3d(0px, 3rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="header-2-text-1">Founded in Loving Memory of Dr. Ramesh Kumar Kurup and His
                                    Daughter Sarada

                                    On October 27, 2006, Dr. Suhichithra, along with her sisters, Dr. Chithra Lekha and
                                    Anitha, established our eye care hospital. In honor of the legacy left by Dr. Ramesh
                                    Kumar Kurup, our hospital is dedicated to serving the underprivileged with
                                    unwavering commitment and providing high-quality eye care services to the community
                                    in and around Varkala. Our mission is rooted in compassion, excellence, and a vision
                                    for a healthier, brighter future for all.</p>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_084f61f6-bf21-518b-40b8-c80cf16950ff-c683b063" class="header-2-column">
                        <div data-w-id="084f61f6-bf21-518b-40b8-c80cf1695100" class="header-2-image-size-2"
                            style="will-change: transform; transform: translate3d(0px, 3.5655rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <div class="image-animation-trigger">
                                <div class="parallax-animation">
                                    <div class="animation-color-bg is-dark-blue-color"
                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div>
                                    <div data-video-urls="{% static 'video/video.mp4' %}" data-autoplay="true"
                                        data-loop="true" data-wf-ignore="true" data-beta-bgvideo-upgrade="false"
                                        class="video-background w-background-video w-background-video-atom">
                                        <video id="4e19d988-9ef9-5caa-f4dc-235c7c644bad-video" autoplay="" loop=""
                                            muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
                                            <source src="{% static 'video/video.mp4' %}" data-wf-ignore="true">

                                        </video>
                                        <div class="selectextShadowHost"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-2-content-1">
                            <div class="while-scrolling-effect-5rem is-relative"
                                style="will-change: transform; transform: translate3d(0px, 5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <h2 class="heading is-header-2-title">
                                    <span class="opacity-60">Committed to</span>
                                    exceptional eye care<span class="opacity-60"> and cutting-edge treatments with a
                                        high level of expertise. We</span>
                                    prioritize your<span class="opacity-60"> vision and the well-being of every
                                        individual. With over </span> 2,000 successful surgeries, <span
                                        class="opacity-60">our dedication to your eye
                                        health is unwavering.</span>
                                </h2>

                            </div>
                            <div class="while-scrolling-effect-5rem"
                                style="will-change: transform; transform: translate3d(0px, 5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <img src="{% static 'icons/quotation.svg' %}" loading="lazy" alt=""
                                    class="header-2-quote-icon">
                            </div>
                            <div class="while-scrolling-effect-3rem"
                                style="will-change: transform; transform: translate3d(0px, 3rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                <p class="header-2-text-2">At our eye care hospital, we excel in enhancing and
                                    preserving your vision, ensuring not only optimal eye health but also the radiance
                                    of your gaze. Recognizing the significance of vision treatments in your overall
                                    well-being, we understand the challenge of choosing the perfect eye care. Count on
                                    our outstanding team to provide unwavering support, assisting you comprehensively on
                                    your journey to clear and vibrant sight.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <div class="padding">
                <div class="vertical-flex-gap-8em">
                    <div class="vertical-flex-gap-2em">
                        <h2 class="heading is-small-title">Managment Team</h2>
                        <div class="the-team-2 w-dyn-list">
                            <div role="list" class="team-2-list w-dyn-items">
                                {% for team_member in team_members_all %}
                                <div role="listitem" class="team-2-item w-dyn-item">
                                    <a href="{% url 'management_team_detail' team_member.slug %}"
                                        class="team-2-content w-inline-block">
                                        <p class="team-2-name">{{ team_member.name }}</p>
                                        <p class="team-2-role">{{ team_member.role }}</p>
                                    </a>
                                    <div class="team-2-image">
                                        <div class="_3d-block">
                                            <div class="image-animation-trigger _3d-for-image"
                                                style="will-change: transform; transform: translate3d(1.43152%, -1.67336%, 0px) scale3d(1, 1, 1) rotateX(1.67336deg) rotateY(2.14728deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                <div class="animation-color-bg is-linen"
                                                    style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                </div>
                                                <img alt="{{ team_member.name }}" src="{{ team_member.image.url }}"
                                                    sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 34vw"
                                                    srcset="{{ team_member.image_500.url }} 500w, {{ team_member.image_800.url }} 800w, {{ team_member.image.url }} 1018w"
                                                    class="cover-image is-team"
                                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section overflow-visible">
        <div class="w-layout-grid content-grid-7">
            <div id="w-node-_084f61f6-bf21-518b-40b8-c80cf1695117-c683b063" class="grid-7-block-1 is-center">
                <div class="numbering-block">
                    <p class="sign-text"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        2</p>
                    <div class="numbering-line"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                    <p class="sign-text"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        Experience</p>
                </div>
                <h3 class="heading is-grid-7-title-1"><span class="opacity-70">We have Over
                    </span>30&nbsp;years<span class="opacity-70"> of experience</span></h3>
            </div>
            <div id="w-node-_084f61f6-bf21-518b-40b8-c80cf1695124-c683b063" class="grid-7-image-4">
                <div class="_3d-block">
                    <div class="image-animation-trigger _3d-for-image"
                        style="will-change: transform; transform: translate3d(1.43152%, -1.67336%, 0px) scale3d(1, 1, 1) rotateX(1.67336deg) rotateY(2.14728deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="animation-color-bg"
                            style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div> <img src="{% static 'images/expimage2/expimage2.webp' %}" alt="Expimage2" sizes="100vw"
                            srcset="{% static 'images/expimage2/expimage2-p-500.webp' %} 500w,
                        {% static 'images/expimage2/expimage2-p-800.webp' %} 800w,
                        {% static 'images/expimage2/expimage2-p-1080.webp' %} 1080w,
                        {% static 'images/expimage2/expimage2.webp' %} 1920w" class="cover-image"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container is-full-width">
            <div class="padding">
                <div class="vertical-flex-gap-4em">
                    <div class="numbering-block is-align-center">
                        <p class="sign-text"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            3</p>
                        <div class="numbering-line"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <p class="sign-text"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            The Team</p>
                    </div>
                    <div class="the-team-2 w-dyn-list">
                        <div role="list" class="team-2-list w-dyn-items">
                            {% for doctor in doctors_all %}
                            <div role="listitem" class="team-2-item w-dyn-item">
                                <a href="{% url 'doctor_detail' doctor.slug %}" class="team-2-content w-inline-block">
                                    <p class="team-2-name">{{ doctor.name }}</p>
                                    <p class="team-2-role">{{ doctor.role }}</p>
                                </a>
                                <div class="team-2-image">
                                    <div class="_3d-block">
                                        <div class="image-animation-trigger _3d-for-image"
                                            style="will-change: transform; transform: translate3d(1.43152%, -1.67336%, 0px) scale3d(1, 1, 1) rotateX(1.67336deg) rotateY(2.14728deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            <div class="animation-color-bg is-linen"
                                                style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div>
                                            <img alt="{{ doctor.name }}" src="{{ doctor.image_500.url }}"
                                                sizes="(max-width: 479px) 92vw, (max-width: 767px) 47vw, (max-width: 991px) 48vw, 34vw"
                                                srcset="{{ doctor.image_500.url }} 500w, {{ doctor.image_800.url }} 800w, {{ doctor.image.url }} 1018w"
                                                class="cover-image is-team"
                                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-wrap">
        <div class="container is-full-width">
            <div class="padding top-bottom-4em">
                <section class="section">
                    <div class="w-layout-grid cta-2-grid">
                        <div id="w-node-_073f4d94-128d-f812-df53-c6035dc9cd8a-5dc9cd88" class="cta-2-block-1">
                            <div class="image-animation-trigger">
                                <div class="parallax-animation">
                                    <div class="animation-color-bg"
                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    </div><img loading="lazy" alt="Klaas - Dentist website Webflow template"
                                        src="https://images.pexels.com/photos/946727/pexels-photo-946727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        class="cover-image is-parallax"
                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
                                </div>
                            </div>
                        </div><a data-w-id="073f4d94-128d-f812-df53-c6035dc9cd8f" href="/contact"
                            class="cta-2-block-2 w-inline-block">
                            <div class="cta-2-content">
                                <p class="cta-2-title"
                                    style="transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                    Contact Us</p>
                            </div>
                            <div class="cta-background-color"
                                style="transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: block;">
                            </div><img src="{% static 'icons/servicewhitearrow.svg'%}" loading="lazy" alt=""
                                class="cta-2-icon"
                                style="transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock content %}