{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <header class="header-5">
        <div class="header-5-inner">
            <div class="container">
                <div class="header-1-content">
                    <h1 data-w-id="7602962c-01e1-4af0-5a2f-15f805355c6c" class="heading is-header-title"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        Blog</h1>
                    <div class="header-line-block">
                        <div data-w-id="7602962c-01e1-4af0-5a2f-15f805355c6f" class="header-line"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <p data-w-id="7602962c-01e1-4af0-5a2f-15f805355c70" class="header-subtitle"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            Articles</p>
                        <div data-w-id="7602962c-01e1-4af0-5a2f-15f805355c72" class="header-line"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                    </div>
                    <div class="header-content-block">
                        <p data-w-id="7602962c-01e1-4af0-5a2f-15f805355c74" class="header-content-text"
                            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            This blog focuses on it and other issues related to Eye health and treatments</p>
                        <div class="buttons-flex-1"><a href="#read" class="main-button is-transparent w-inline-block">
                                <div class="button-text">Explore</div><img src="{% static 'icons/arrow.svg' %}"
                                    loading="lazy" alt="" class="button-icon">
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="header-absolute-block">
                <div class="sticky-100vh-block">
                    <div class="bg-color-for-sticky-sec-2"></div>
                    <div data-video-urls="{% static 'video/video1.mp4' %}" data-autoplay="true" data-loop="true"
                        data-wf-ignore="true" data-beta-bgvideo-upgrade="false"
                        class="video-background w-background-video w-background-video-atom">
                        <video id="4e19d988-9ef9-5caa-f4dc-235c7c644bad-video" autoplay="" loop="" muted=""
                            playsinline="" data-wf-ignore="true" data-object-fit="cover">
                            <source src="{% static 'video/video1.mp4' %}" data-wf-ignore="true">

                        </video>
                        <div class="selectextShadowHost"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="read" class="section">
        <div class="container is-blog-listing-with-tabs">
            <div class="padding">
                <div class="vertical-flex-gap-4em">
                    <div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100"
                        class="tabs-3 w-tabs">
                        <div class="tabs-5-links w-tab-menu" role="tablist"><a data-w-tab="Tab 1"
                                class="tab-5-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-0"
                                href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0"
                                aria-selected="false" tabindex="-1">
                                <div class="tab-5-link-image"><img src="{% static 'images/feautured/feautured.webp' %}"
                                        alt="Feautured" loading="lazy" srcset="{% static 'images/feautured/feautured.webp' %} 500w,
                                            {% static 'images/feautured/feautured-p-500.webp' %} 800w,
                                            {% static 'images/feautured/feautured-p-800.webp' %} 1080w,
                                            {% static 'images/feautured/feautured-p-1080.webp' %} 1600w"
                                        sizes="(max-width: 767px) 88px, (max-width: 991px) 96px, 5vw"
                                        class="cover-image" /></div>
                                <div class="tab-5-link-text">Featured</div><img src="{% static 'icons/tanarrow.svg' %}"
                                    loading="lazy" alt="" class="tab-5-link-icon">
                            </a><a data-w-tab="Tab 2" class="tab-5-link w-inline-block w-tab-link w--current"
                                id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                                aria-controls="w-tabs-0-data-w-pane-1" aria-selected="true">
                                <div class="tab-5-link-image"><img src="{% static 'images/ey/ey.webp' %}" alt="Ey"
                                        loading="lazy" srcset="{% static 'images/ey/ey.webp' %} 500w,
                                            {% static 'images/ey/ey-p-500.webp' %} 800w,
                                            {% static 'images/ey/ey-p-800.webp' %} 1080w,
                                            {% static 'images/ey/ey-p-1080.webp' %} 1600w"
                                        sizes="(max-width: 767px) 88px, (max-width: 991px) 96px, 5vw"
                                        class="cover-image" /></div>
                                <div class="tab-5-link-text">Eye Health Blogs</div><img
                                    src="{% static 'icons/tanarrow.svg' %}" loading="lazy" alt=""
                                    class="tab-5-link-icon">
                            </a><a data-w-tab="Tab 3" class="tab-5-link w-inline-block w-tab-link"
                                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false" tabindex="-1">
                                <div class="tab-5-link-image"> <img
                                        src="{% static 'images/technology/technology.webp' %}" alt="Technology"
                                        loading="lazy" srcset="{% static 'images/technology/technology.webp' %} 500w,
                                            {% static 'images/technology/technology-p-500.webp' %} 800w,
                                            {% static 'images/technology/technology-p-800.webp' %} 1080w,
                                            {% static 'images/technology/technology-p-1080.webp' %} 1600w"
                                        sizes="(max-width: 767px) 88px, (max-width: 991px) 96px, 5vw"
                                        class="cover-image" /></div>
                                <div class="tab-5-link-text">Technology</div><img
                                    src="{% static 'icons/tanarrow.svg' %}" loading="lazy" alt=""
                                    class="tab-5-link-icon">
                            </a></div>
                        <div class="tab-5-content w-tab-content">
                            <div data-w-tab="Tab 1" class="tab-2-pane w-tab-pane" id="w-tabs-0-data-w-pane-0"
                                role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0" style="">
                                <div class="tab-inner-2">
                                    <div class="listing-12 w-dyn-list">
                                        <div role="list" class="listing-12-grid w-dyn-items">
                                            {% for blog in featured_blogs %}
                                            <div role="listitem" class="listing-12-item w-dyn-item">
                                                <div class="listing-12-block">
                                                    <a aria-label="Blog post"
                                                        href="{% url 'blog_detail' slug=blog.slug %}"
                                                        class="listing-12-image w-inline-block">
                                                        <div class="_3d-block">
                                                            <div class="image-animation-trigger _3d-for-image" style="">
                                                                <div class="animation-color-bg is-black"
                                                                    style="display: block;"></div>
                                                                <img alt="blog" loading="lazy"
                                                                    src="{{ blog.image.url }}"
                                                                    sizes="(max-width: 479px) 97vw, (max-width: 991px) 49vw, 28vw"
                                                                    class="cover-image"
                                                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="blog-categories">
                                                        {% if blog.featured %}
                                                        <p class="listing-11-text-1 is-2nd">Featured</p>
                                                        {% endif %}
                                                        <p class="listing-11-text-1">{{ blog.category.name }}</p>
                                                    </div>
                                                    <a href="{% url 'blog_detail' slug=blog.slug %}"
                                                        class="listing-12-link-name w-inline-block">
                                                        <p class="listing-12-title">{{ blog.title }}</p>
                                                    </a>
                                                    <p class="listing-12-text-2">{{ blog.description }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-w-tab="Tab 2" class="tab-2-pane w-tab-pane w--tab-active"
                                id="w-tabs-0-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-1"
                                style="opacity: 1; transition: opacity 300ms ease 0s;">
                                <div class="tab-inner-2">
                                    <div class="listing-12 w-dyn-list">
                                        <div role="list" class="listing-12-grid w-dyn-items">
                                            {% for blog in eye_health_blogs %}
                                            <div role="listitem" class="listing-12-item w-dyn-item">
                                                <div class="listing-12-block">
                                                    <a aria-label="Blog post"
                                                        href="{% url 'blog_detail' slug=blog.slug %}"
                                                        class="listing-12-image w-inline-block">
                                                        <div class="_3d-block">
                                                            <div class="image-animation-trigger _3d-for-image" style="">
                                                                <div class="animation-color-bg is-black"
                                                                    style="display: block;"></div>
                                                                <img alt="blog" loading="lazy"
                                                                    src="{{ blog.image.url }}"
                                                                    sizes="(max-width: 479px) 97vw, (max-width: 991px) 49vw, 28vw"
                                                                    class="cover-image"
                                                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="blog-categories">
                                                        {% if blog.featured %}
                                                        <p class="listing-11-text-1 is-2nd">Featured</p>
                                                        {% endif %}
                                                        <p class="listing-11-text-1">{{ blog.category.name }}</p>
                                                    </div>
                                                    <a href="{% url 'blog_detail' slug=blog.slug %}"
                                                        class="listing-12-link-name w-inline-block">
                                                        <p class="listing-12-title">{{ blog.title }}</p>
                                                    </a>
                                                    <p class="listing-12-text-2">{{ blog.description }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-w-tab="Tab 3" class="tab-2-pane w-tab-pane" id="w-tabs-0-data-w-pane-2"
                                role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-2" style="">
                                <div class="tab-inner-2">
                                    <div class="listing-12 w-dyn-list">
                                        <div role="list" class="listing-12-grid w-dyn-items">
                                            {% for blog in technology_blogs %}
                                            <div role="listitem" class="listing-12-item w-dyn-item">
                                                <div class="listing-12-block">
                                                    <a aria-label="Blog post"
                                                        href="{% url 'blog_detail' slug=blog.slug %}"
                                                        class="listing-12-image w-inline-block">
                                                        <div class="_3d-block">
                                                            <div class="image-animation-trigger _3d-for-image" style="">
                                                                <div class="animation-color-bg is-black"
                                                                    style="display: block;"></div>
                                                                <img alt="blog" loading="lazy"
                                                                    src="{{ blog.image.url }}"
                                                                    sizes="(max-width: 479px) 97vw, (max-width: 991px) 49vw, 28vw"
                                                                    class="cover-image"
                                                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="blog-categories">
                                                        {% if blog.featured %}
                                                        <p class="listing-11-text-1 is-2nd">Featured</p>
                                                        {% endif %}
                                                        <p class="listing-11-text-1">{{ blog.category.name }}</p>
                                                    </div>
                                                    <a href="{% url 'blog_detail' slug=blog.slug %}"
                                                        class="listing-12-link-name w-inline-block">
                                                        <p class="listing-12-title">{{ blog.title }}</p>
                                                    </a>
                                                    <p class="listing-12-text-2">{{ blog.description }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section with-linen-bg">
        <div class="container is-full-width">
            <div class="padding top-bottom-4em">
                <div class="cta-section-3">
                    <div class="container">
                        <div class="padding">
                            <div class="w-layout-grid cta-3-grid-1">
                                <div class="cta-3-block-1">
                                    <p class="cta-3-title">Connect</p>
                                </div>
                                <div class="cta-3-block-1">
                                    <p class="cta-3-text">We are passionate about helping people and write
                                        about it.</p>
                                </div>
                                <div class="cta-3-block-1"><a href="/topics" class="main-button w-inline-block">
                                        <div class="button-text">Contact</div><img
                                            src="{% static 'icons/servicewhitearrow.svg'%}" loading="lazy" alt=""
                                            class="button-icon">
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="cta-3-image">
                        <div class="cta-3-filter"></div>
                        <div class="_3d-block">
                            <div class="image-animation-trigger _3d-for-image" style="">
                                <div class="animation-color-bg" style="display: block;"></div><img
                                    src="{% static 'images/steptodown.com364590/steptodown.com364590.webp' %}"
                                    alt="Steptodown.Com364590"
                                    sizes="(max-width: 479px) 46vw, (max-width: 767px) 49vw, (max-width: 991px) 50vw, (max-width: 1439px) 51vw, 52vw"
                                    srcset="{% static 'images/steptodown.com364590/steptodown.com364590.webp' %} 500w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-500.webp' %} 800w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-800.webp' %} 1080w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-1080.webp' %} 1600w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-1600.webp' %} 2000w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-2000.webp' %} 2600w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-2600.webp' %} 3200w,
                                        {% static 'images/steptodown.com364590/steptodown.com364590-p-3200.webp' %} 4000w"
                                    class="cover-image"
                                    style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock content %}