{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <div class="header-1">
        <div class="container">
            <div class="header-1-content">
                <h1 data-w-id="7c989d64-d88c-efaf-70aa-32f55ebad38a" class="heading is-header-title"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    Contact</h1>
                <div class="header-line-block">
                    <div data-w-id="7c989d64-d88c-efaf-70aa-32f55ebad38d" class="header-line"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                    <p data-w-id="7c989d64-d88c-efaf-70aa-32f55ebad38e" class="header-subtitle"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        Welcome</p>
                    <div data-w-id="7c989d64-d88c-efaf-70aa-32f55ebad390" class="header-line"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                </div>
                <div class="header-content-block">
                    <p data-w-id="7c989d64-d88c-efaf-70aa-32f55ebad392" class="header-content-text"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        feel free to contact us via email or phone.
                    </p><a data-w-id="7c989d64-d88c-efaf-70aa-32f55ebad394" href="#"
                        class="button is-dark w-inline-block"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="text-for-button"
                            style="transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            Explore</div><img loading="lazy" alt="" src="{% static 'icons/arrow.svg' %}"
                            class="icon-for-button"
                            style="transform: translate3d(0em, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="button-bg is-dark"
                            style="transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="socials-1 is-black w-dyn-list">
        <div role="list" class="socials-1-list w-dyn-items">
            <div role="listitem" class="social-1-item w-dyn-item"><a data-w-id="c562077c-733f-cc44-0002-d38a106bd169"
                    href="#" class="social-1-link-block w-inline-block"><img src="{% static 'icons/menutwitter.svg' %}"
                        loading="lazy" alt="Twitter" class="social-icon"
                        style="will-change: transform; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="social-link-circle is-brown"
                        style="transform: translate3d(0%, 0%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: none;">
                    </div>
                </a></div>
            <div role="listitem" class="social-1-item w-dyn-item"><a data-w-id="c562077c-733f-cc44-0002-d38a106bd169"
                    href="#" class="social-1-link-block w-inline-block"><img src="{% static 'icons/menufacebook.svg' %}"
                        loading="lazy" alt="Facebook" class="social-icon"
                        style="will-change: transform; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="social-link-circle is-brown"
                        style="transform: translate3d(0%, 0%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: none;">
                    </div>
                </a></div>
            <div role="listitem" class="social-1-item w-dyn-item"><a data-w-id="c562077c-733f-cc44-0002-d38a106bd169"
                    href="#" class="social-1-link-block w-inline-block"><img src="{% static 'icons/menulinkedin.svg' %}"
                        loading="lazy" alt="LinkedIn" class="social-icon"
                        style="will-change: transform; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <div class="social-link-circle is-brown"
                        style="transform: translate3d(0%, 0%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: none;">
                    </div>
                </a></div>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <div class="padding">
                <div class="vertical-flex-gap-4em">
                    <h2 class="heading is-large-title">How to find us</h2>
                    <div class="clinics-2 w-dyn-list">
                        <div role="list" class="clinic-2-list w-dyn-items">
                            <div role="listitem" class="clinic-2-item w-dyn-item"><a href="/clinic/new-york"
                                    class="clinic-2-link w-inline-block">
                                    <p class="clinic-2-name">Eye Hospital</p>
                                </a>
                                <div class="clinic-2-image">
                                    <div class="while-scrolling-effect-5rem"
                                        style="will-change: transform; transform: translate3d(0px, 5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        <div class="parallax-animation">
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"
                                                    style="will-change: transform; transform: translate3d(1.98%, 2.5636%, 0px) scale3d(1, 1, 1) rotateX(-2.5636deg) rotateY(2.97deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    <div class="animation-color-bg"
                                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div><img src="{% static 'images/us/us.webp' %}" alt="Us"
                                                        loading="lazy" srcset="{% static 'images/us/us.webp' %} 500w,
                                                            {% static 'images/us/us-p-500.webp' %} 800w,
                                                            {% static 'images/us/us-p-800.webp' %} 1080w,
                                                            {% static 'images/us/us-p-1080.webp' %} 1919w"
                                                        sizes="(max-width: 767px) 92vw, (max-width: 991px) 97vw, (max-width: 1439px) 96vw, (max-width: 1919px) 25vw, 27vw"
                                                        class="cover-image is-parallax"
                                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinic-2-content">
                                    <div class="clinic-contact-buttons"><a
                                            data-w-id="1ba93139-7928-e344-bd1e-f7b88895e83a"
                                            href="https://maps.app.goo.gl/smn5G6Xme7SXh8LHA" target="_blank"
                                            class="button is-brown w-inline-block">
                                            <div class="text-for-button">Open Map</div><img
                                                src="{% static 'icons/contactus.svg' %}" loading="lazy" alt="Arrow Icon"
                                                class="icon-for-button">
                                            <div class="button-bg is-tan"></div>
                                        </a><a data-w-id="b906e57b-7513-a3c9-f1a6-46853222f1e7"
                                            href="mailto:ramsarvarkala@gmail.com" class="button w-inline-block">
                                            <div class="text-for-button">Email</div><img
                                                src="{% static 'icons/emailus.svg' %}" loading="lazy" alt="Email Icon"
                                                class="icon-for-button">
                                            <div class="button-bg"></div>
                                        </a></div>
                                    <div class="clinic-address-block">
                                        <p class="clinic-address"> Temple Road, Varkala, Kerala 695141</p>
                                        <div class="rich-text is-contact w-dyn-bind-empty w-richtext"></div>
                                    </div>

                                    <div class="clinic-contacts">
                                        <div class="clinic-contact-block">
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Phone<br></p><a href="tel:+919495204463"
                                                    class="clinic-2-text-1 is-link"> 094952 04463</a>
                                            </div>
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Email<br></p><a
                                                    href="mailto:ramsarvarkala@gmail.com"
                                                    class="clinic-2-text-1 is-link">ramsarvarkala@gmail.com</a>
                                            </div>
                                        </div>
                                        <div class="clinic-contact-block">
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Monday - Friday<br></p>
                                                <p class="clinic-2-text-1 is-2nd">9 A.M. - 5 P.M.</p>
                                            </div>
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Saturday<br></p>
                                                <p class="clinic-2-text-1 is-2nd">9 A.M. - 5 P.M.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div role="listitem" class="clinic-2-item w-dyn-item"><a href="/clinic/london"
                                    class="clinic-2-link w-inline-block">
                                    <p class="clinic-2-name">Chakrabarti Eyecare Centre</p>
                                </a>
                                <div class="clinic-2-image">
                                    <div class="while-scrolling-effect-5rem"
                                        style="will-change: transform; transform: translate3d(0px, 5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        <div class="parallax-animation">
                                            <div class="_3d-block">
                                                <div class="image-animation-trigger _3d-for-image"
                                                    style="will-change: transform; transform: translate3d(1.98%, 2.5636%, 0px) scale3d(1, 1, 1) rotateX(-2.5636deg) rotateY(2.97deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    <div class="animation-color-bg"
                                                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                                    </div><img srcset="{% static 'images/chakravarthy/chakravarthy.webp' %} 500w,
                                                    {% static 'images/chakravarthy/chakravarthy-p-500.webp' %} 800w,
                                                    {% static 'images/chakravarthy/chakravarthy-p-800.webp' %} 1080w,
                                                    {% static 'images/chakravarthy/chakravarthy-p-1080.webp' %} 1919w"
                                                        sizes="(max-width: 767px) 92vw, (max-width: 991px) 97vw, (max-width: 1439px) 96vw, (max-width: 1919px) 25vw, 27vw"
                                                        alt="Chakravarthy" class="cover-image is-parallax"
                                                        style="transform: translate3d(0px, -7%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                                                        loading="lazy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clinic-2-content">
                                    <div class="clinic-contact-buttons"><a
                                            data-w-id="1ba93139-7928-e344-bd1e-f7b88895e83a"
                                            href="https://maps.app.goo.gl/YeqWpywY5mU3z6HH7" target="_blank"
                                            class="button is-brown w-inline-block">
                                            <div class="text-for-button"
                                                style="transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                                Open Map</div><img src="{% static 'icons/contactus.svg' %}"
                                                loading="lazy" alt="Arrow Icon" class="icon-for-button"
                                                style="transform: translate3d(0em, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            <div class="button-bg is-tan"
                                                style="transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                            </div>
                                        </a><a data-w-id="b906e57b-7513-a3c9-f1a6-46853222f1e7"
                                            href="mailto:london@klaas.com" class="button w-inline-block">
                                            <div class="text-for-button">Email</div><img
                                                src="{% static 'icons/emailus.svg' %}" loading="lazy" alt="Email Icon"
                                                class="icon-for-button">
                                            <div class="button-bg"></div>
                                        </a></div>
                                    <div class="clinic-address-block">
                                        <p class="clinic-address">Maruthankuzhi - Kachani Rd,
                                            Thiruvananthapuram 695030
                                        </p>
                                        <div class="rich-text is-contact w-dyn-bind-empty w-richtext"></div>
                                    </div>
                                    <div class="clinic-contacts">
                                        <div class="clinic-contact-block">
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Phone<br></p><a href="tel:0471 276 6800"
                                                    class="clinic-2-text-1 is-link">0471 276 6800</a>
                                            </div>
                                        </div>
                                        <div class="clinic-contact-block">
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Monday - Friday<br></p>
                                                <p class="clinic-2-text-1 is-2nd">9 A.M. - 5 P.M.</p>
                                            </div>
                                            <div class="clinic-content-block-2">
                                                <p class="clinic-2-text-1">Saturday<br></p>
                                                <p class="clinic-2-text-1 is-2nd">9 A.M. - 4 P.M.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-image">
        <div class="while-scrolling-effect-5rem"
            style="will-change: transform; transform: translate3d(0px, 5rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <div class="image-animation-trigger">
                <div class="parallax-animation-medium">
                    <div class="animation-color-bg"
                        style="display: block; transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div><img srcset="{% static 'images/steptodown.com640371/steptodown.com640371.webp' %} 500w,
                    {% static 'images/steptodown.com640371/steptodown.com640371-p-500.webp' %} 800w,
                    {% static 'images/steptodown.com640371/steptodown.com640371-p-800.webp' %} 1080w,
                    {% static 'images/steptodown.com640371/steptodown.com640371-p-1080.webp' %} 1920w" sizes="100vw"
                        alt="Steptodown.Com640371" class="cover-image is-parallax-medium"
                        style="transform: translate3d(0px, -8%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
                        loading="lazy">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}