{% load static %}
<div class="footer-wrap">
    <div class="topfooter-1">
        <div class="topfooter-1-block-1">
            <div data-w-id="cce06601-f565-0d88-20e5-6689625be065" class="topfooter-1-menu-button"><img
                    src="{% static 'icons/footermenubar.svg' %}" loading="lazy" alt="" class="topfooter-icon">
                <p class="topfooter-1-button-text">Menu</p>
                <div class="topfooter-1-background"></div>
            </div>
        </div>
        <div class="socials-2 w-dyn-list">
            <div role="list" class="socials-1-list w-dyn-items">
                <div role="listitem" class="social-1-item w-dyn-item"><a
                        data-w-id="cce06601-f565-0d88-20e5-6689625be06c" href="#"
                        class="social-1-link-block w-inline-block"><img src="{% static 'icons/menutwitter.svg' %}"
                            loading="lazy" alt="Twitter" class="social-icon"
                            style="will-change: transform; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-link-circle"
                            style="transform: translate3d(0%, 0%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: none;">
                        </div>
                    </a></div>
                <div role="listitem" class="social-1-item w-dyn-item"><a
                        data-w-id="cce06601-f565-0d88-20e5-6689625be06c" href="#"
                        class="social-1-link-block w-inline-block"><img src="{% static 'icons/menufacebook.svg' %}"
                            loading="lazy" alt="Facebook" class="social-icon"
                            style="will-change: transform; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-link-circle"
                            style="transform: translate3d(0%, 0%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: none;">
                        </div>
                    </a></div>
                <div role="listitem" class="social-1-item w-dyn-item"><a
                        data-w-id="cce06601-f565-0d88-20e5-6689625be06c" href="#"
                        class="social-1-link-block w-inline-block"><img src="{% static 'icons/menulinkedin.svg' %}"
                            loading="lazy" alt="LinkedIn" class="social-icon"
                            style="will-change: transform; transform: translate3d(0%, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <div class="social-link-circle"
                            style="transform: translate3d(0%, 0%, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: none;">
                        </div>
                    </a></div>
            </div>
        </div>
        <div class="topfooter-1-block-1"><a href="{% url 'contact' %}"
                class="topfooter-1-menu-button is-2nd w-inline-block">
                <p class="topfooter-1-button-text">Contact Us</p><img src="{% static 'icons/footercontactarrow.svg' %}"
                    loading="lazy" alt="" class="topfooter-icon">
            </a></div>
    </div>
</div>