{% load static %}
<div class="fullscreen-menu" style="display: none; opacity: 1;">
    <div class="fullscreen-inner">
        <div class="fullscreen-menu-column-1">
            <div class="fullscreen-main-links"
                style="transform: translate3d(-10vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                <a href="{% url 'home' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d2fc-8647d2f8"
                    aria-current="page" class="fullscreen-main-link w-inline-block w--current">
                    <div class="fullscreen-link-sign"><img src="{% static 'icons/menuhome.svg' %}" loading="lazy" alt=""
                            class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Homepage</p>
                </a><a href="{% url 'services' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d300-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign"><img src="{% static 'icons/menutreatments.svg' %}" loading="lazy"
                            alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Treatments</p>
                </a><a href="{% url 'categories' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d304-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign"><img src="{% static 'icons/menucategory.svg' %}" loading="lazy"
                            alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Categories</p>
                </a><a href="{% url 'about' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d308-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign"><img src="{% static 'icons/menuabout.svg' %}" loading="lazy"
                            alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">About</p>
                </a><a href="{% url 'doctors' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d314-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign is-2nd"><img src="{% static 'icons/menuteam.svg' %}" loading="lazy"
                            alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Doctors</p>

                </a>
                <a href="{% url 'management_team' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d314-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign is-2nd"><img src="{% static 'icons/menuteam.svg' %}" loading="lazy"
                            alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Managment Team</p>

                </a><a href="{% url 'blog' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d31c-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign is-2nd"><img src="{% static 'icons/menublog.svg' %}" loading="lazy"
                            alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Blog</p>
                </a><a href="{% url 'reviews' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d320-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign is-2nd"><img src="{% static 'icons/menureviews.svg' %}"
                            loading="lazy" alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Reviews</p>
                </a><a href="{% url 'gallery' %}" id="w-node-_8f893bb8-edec-5ffe-1af6-e4c68647d324-8647d2f8"
                    class="fullscreen-main-link w-inline-block">
                    <div class="fullscreen-link-sign is-2nd"><img src="{% static 'icons/menugallery.svg' %}"
                            loading="lazy" alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Gallery</p>
                </a><a href="{% url 'contact' %}" class="fullscreen-main-link with-border w-inline-block">
                    <div class="fullscreen-link-sign is-2nd"><img src="{% static 'icons/menucontact.svg' %}"
                            loading="lazy" alt="" class="fullscreen-link-icon"></div>
                    <p class="fullscreen-link-text">Contact</p>
                </a>
            </div>
        </div>
        <div class="fullscreen-menu-column-3" style="display: none;">
            <div class="menu-column-2-contacts"
                style="opacity: 0; transform: translate3d(-10vw, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <div class="menu-contacts-padding">
                    <div class="menu-contacts">
                        <p class="menu-contact-title">Contact</p><a href="mailto:ramsarvarkala@gmail.com"
                            class="button-listing-1-link in-menu w-inline-block">
                            <p class="button-listing-1-text">ramsarvarkala@gmail.com</p>
                        </a><a href="#" class="button-listing-1-link in-menu w-inline-block">
                            <p class="button-listing-1-text">ph:- 0470 2611112 , 2611113</p>
                        </a><a href="tel:+919495204463" class="button-listing-1-link in-menu w-inline-block">
                            <p class="button-listing-1-text">(+91) 9495204463</p>
                        </a>
                    </div>
                    <div class="socials-3 w-dyn-list">
                        <div role="list" class="socials-1-list w-dyn-items">
                            <div role="listitem" class="social-1-item w-dyn-item"><a
                                    data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="/social/twitter"
                                    class="social-1-link-block w-inline-block"><img
                                        src="{% static 'icons/menutwitter.svg' %}" loading="lazy" alt="Twitter"
                                        class="social-icon">
                                    <div class="social-link-circle is-dark"></div>
                                </a></div>
                            <div role="listitem" class="social-1-item w-dyn-item"><a
                                    data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="/social/facebook"
                                    class="social-1-link-block w-inline-block"><img
                                        src="{% static 'icons/menufacebook.svg' %}" loading="lazy" alt="Facebook"
                                        class="social-icon">
                                    <div class="social-link-circle is-dark"></div>
                                </a></div>
                            <div role="listitem" class="social-1-item w-dyn-item"><a
                                    data-w-id="8a9e3b22-3da0-0a66-f23d-b4b391fbecc6" href="/social/linkedin"
                                    class="social-1-link-block w-inline-block"><img
                                        src="{% static 'icons/menulinkedin.svg' %}" loading="lazy" alt="LinkedIn"
                                        class="social-icon">
                                    <div class="social-link-circle is-dark"></div>
                                </a></div>
                        </div>
                    </div><a href="" class="fullscreen-menu-contact-link w-inline-block">
                        <p class="fullscreen-menu-contact-text">Contact</p>
                    </a>
                </div>
            </div><img srcset="{% static 'images/menubarsideimage/menubarsideimage.jpg' %} 500w,
            {% static 'images/menubarsideimage/menubarsideimage-500.jpg' %} 800w,
            {% static 'images/menubarsideimage/menubarsideimage-800.jpg' %} 1080w,
            {% static 'images/menubarsideimage/menubarsideimage-1080.jpg' %} 1600w,
            {% static 'images/menubarsideimage/menubarsideimage-1600.jpg' %} 2000w" loading="lazy" sizes="100vw"
                src="{% static 'images/menubarsideimage/menubarsideimage.jpg' %}" alt="Menubarsideimage"
                class="menu-cover-image"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <div class="bg-color-for-column-2"></div>
            <div class="bg-animation-for-column-2"
                style="transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; display: block;">
            </div>
        </div>
        <div data-w-id="8f893bb8-edec-5ffe-1af6-e4c68647d347" class="close-button"
            style="transform: translate3d(-99%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <div class="close-text-block">
                <p class="close-text">Close</p>
            </div>
            <div class="close-button-bg"></div>
        </div>
        <div class="fullscreen-menu-bg"
            style="transform: translate3d(-101%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        </div>
    </div>
</div>

<div data-animation="default" data-collapse="none" data-duration="0" data-easing="ease" data-easing2="ease"
    role="banner" class="navbar w-nav">
    <div class="navbar-flex">
        <!-- logo section -->
        <div class="nav-block-1">
            <a href="/" aria-label="home">
                <img src="{% static 'images/dr-ramesh-kumar-kurup-high-resolution-logo-transparent (1).png' %}"
                    loading="lazy" alt="Dr Ramesh Kumar">
            </a>
        </div>
        <!-- contact information above nav bar -->
        <div class="main-nav">
            <div class="nav-topbar">
                <a href="mailto:ramsarvarkala@gmail.com" class="topbar-link-block tab-is-hide w-inline-block">
                    <img src="{% static 'icons/mail-alt-svgrepo-com.svg' %}" loading="lazy" alt="gmail icon"
                        class="topbar-icon" />
                    <div>ramsarvarkala@gmail.com</div>
                </a>
                <a href="tel:+919495204463" class="topbar-link-block tab-is-hide w-inline-block">
                    <img src="{% static 'icons/call.svg' %}" loading="lazy" alt="call icon" class="topbar-icon" />
                    <div>Call us</div>
                </a>
                <a href="https://maps.app.goo.gl/smn5G6Xme7SXh8LHA" class="topbar-link-block w-inline-block">
                    <img src="{% static 'icons/location.svg' %}" loading="lazy" alt="location icon"
                        class="topbar-icon" />
                    <div>Location</div>
                </a>
            </div>
            <!-- navbar items  -->

            <div class="nav-links">
                <nav role="navigation" class="nav-links-height w-nav-menu">
                    <a href="{% url 'home' %}" aria-current="page" class="nav-link w-inline-block w--current">
                        <p class="menu-link-title">Home</p>
                    </a>
                    <div data-hover="true" data-delay="0" class="dropdown-link w-dropdown">
                        <div class="dropdown-toggle w-dropdown-toggle">
                            <p class="menu-link-title">Services</p>
                            <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list">
                            <div class="menu-treatments-links w-dyn-list">
                                <div role="list" class="menu-treatments-list w-dyn-items">
                                    <div role="list" class="menu-treatments-list w-dyn-items">
                                        {% for service in nav_service %}
                                        <div class="menu-treatment-item w-dyn-item">
                                            <a href="{% url 'service_detail' service.slug %}"
                                                class="menu-treatment-link w-inline-block">
                                                <img src="{{ service.image.url }}" loading="lazy"
                                                    alt="{{ service.name }}" sizes="100vw"
                                                    srcset="{{ service.image_500.url }} 500w, {{ service.image_800.url }} 800w, {{ service.image_1080.url }} 1080w, {{ service.image_1920.url }}"
                                                    class="menu-treatment-image" />
                                                <p class="menu-treatment-name">{{ service.name }}</p>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="menu-sublinks-1">
                                        <div class="menu-sublinks-1-flex-1">
                                            <p class="menu-text-1">We offer more than <strong>{{ services_all|length }}
                                                    treatments</strong>
                                                and
                                                procedures. </p>
                                        </div>
                                        <a data-w-id="a382427e-9b0d-1c69-172a-d09ce1100bed" href="{% url 'services' %}"
                                            class="button w-inline-block">
                                            <div class="text-for-button">All Services</div>
                                            <img src="{% static 'icons/arrow right.svg' %}" loading="lazy" alt=""
                                                class="icon-for-button" />
                                            <div class="button-bg"></div>
                                        </a>
                                    </div>
                        </nav>
                    </div>
                    <div data-hover="true" data-delay="0" class="dropdown-link w-dropdown">
                        <div class="dropdown-toggle w-dropdown-toggle">
                            <p class="menu-link-title">Categories</p>
                            <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list">
                            <div class="menu-category-links w-dyn-list">
                                <div role="list" class="menu-category-list w-dyn-items">
                                    {% for category in categories_all %}
                                    <div role="listitem" class="menu-category-item w-dyn-item">
                                        <a data-w-id="f83099e5-ced6-9112-74b8-f926afdc4f28"
                                            href="{% url 'category_detail' category.slug %}"
                                            class="menu-category-link w-inline-block">
                                            <p class="menu-category-name">{{ category.name }}</p>
                                            <img src="https://assets.website-files.com/633daa121f1308def083b05d/633daa121f1308e1c283b0a1_arrow-icon-white-4.svg"
                                                loading="lazy" alt="" class="menu-category-icon" />
                                            <div class="menu-category-color"></div>
                                            <img src="{{ category.image_url }}" loading="lazy" alt="{{ category.name }}"
                                                sizes="100vw" srcset="{{ category.image_500.url }} 500w, 
                                                {{ category.image_800.url }} 800w, 
                                                {{ category.image_1080.url }} 1080w, 
                                                {{ category.image.url }} 1920w" class="menu-category-image" />
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div data-hover="true" data-delay="0" class="dropdown-link w-dropdown">
                        <div class="dropdown-toggle w-dropdown-toggle">
                            <p class="menu-link-title">about us</p>
                            <div class="dropdown-icon w-icon-dropdown-toggle"></div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list">
                            <div class="menu-large-links">
                                <a href="{% url 'about' %}" class="menu-large-link">About</a>
                                <a href="{% url 'doctors' %}" class="menu-large-link">Doctors</a>
                                <a href="{% url 'management_team' %}" class="menu-large-link">Managment Team</a>
                                <a href="{% url 'gallery' %}" class="menu-large-link">Gallery</a>
                                <a href="{% url 'reviews' %}" class="menu-large-link">Reviews</a>
                                <a href="{% url 'blog' %}" class="menu-large-link">Blogs</a>
                            </div>
                        </nav>
                    </div>
                    <div class="nav-secondary-links">
                        <a href="{% url 'blog' %}" class="nav-link-2 w-inline-block">
                            <p class="menu-link-title">Blogs</p>
                        </a>
                        <a href="{% url 'contact' %}" class="nav-link-2 w-inline-block">
                            <p class="menu-link-title">Contact</p>
                        </a>
                        <a href="{% url 'reviews' %}" class="nav-link-2 w-inline-block">
                            <p class="menu-link-title">Reviews</p>
                        </a>
                    </div>
                </nav>
                <div id="w-node-e4da4c37-ee58-167a-cbd7-451e68993abe-68993a17" class="mobile-menu-button w-nav-button">
                    <div class="menu-mobile-button-flex">
                        <div class="menu-mobile-text">Menu</div>
                        <img src="{% static 'icons/menu.svg' %}" loading="lazy" alt="" class="menu-icon" />
                    </div>
                </div>
            </div>
        </div>
        <div data-w-id="91006749-ec9e-64e2-c6c6-553d4621c8d5" class="fixed-menu-button">
            <img src="{% static 'icons/menu.svg' %}" loading="lazy" alt="" class="fixed-button-icon" />
        </div>
    </div>
</div>